## KnowledgeBased / ParameterFiltering Movies Recommender!

In [3]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [4]:
data= pd.read_csv('C://Users//Lenovo//Desktop//IPY//movies_metadata.csv', low_memory=False)
data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [5]:
# Discovering all Columns:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
#Determining the status of NULL values in the data and sorting them !
Isnull=data.isnull().sum()
Isnull.sort_values(inplace=True, ascending=False)
print(Isnull)

belongs_to_collection    40972
homepage                 37684
tagline                  25054
overview                   954
poster_path                386
runtime                    263
status                      87
release_date                87
imdb_id                     17
original_language           11
vote_average                 6
vote_count                   6
revenue                      6
spoken_languages             6
title                        6
video                        6
popularity                   5
production_companies         3
production_countries         3
original_title               0
id                           0
genres                       0
budget                       0
adult                        0
dtype: int64

#### Filtering Level#1- Removing 'adult' movies:

In [7]:
data = data[data['adult'] == 'False']

#### Filtering Level#2- Removing movies older than 20 years:

In [8]:
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
data['year'] = data['release_date'].dt.year

In [9]:
data['year'].fillna(0, inplace=True)

In [10]:
data['year'] = data['year'].astype('int')

In [11]:
print(min(data['year']))
print(max(data['year']))
print(data['year'].mean())

0
2020
1988.111101333216

In [12]:
data = data[data['year'] > 2000]

#### Filtering Level#3- On 'vote count' and 'vote average' quantile range of 80%:

In [13]:
m = data['vote_count'].quantile(0.80)
print(m)

75.0

In [14]:
data = data[data['vote_count'] >= m]

In [15]:
data = data[data['vote_average'] > (data['vote_average'].mean())]

#### Filtering Level#4- On Movie length:

In [16]:
print("Runtime Mean  ",data['runtime'].mean())
print("Runtime Median  ",data['runtime'].median())

Runtime Mean   109.99447043811143
Runtime Median   107.0

In [17]:
data = data[data['runtime'] > (data['runtime'].median())]

In [18]:
data[['title']].head(10)

                             title
3928           Save the Last Dance
3930                    The Pledge
4022                      Hannibal
4029                Sweet November
4096            Enemy at the Gates
4112                          Blow
4171               A Knight's Tale
4180                 Moulin Rouge!
4182                  Pearl Harbor
4242  A.I. Artificial Intelligence

#### Filtering Level#5- On genere:

In [19]:
#Convert all NaN into stringified empty lists
data['genres'] = data['genres'].fillna('[]')

#Apply literal_eval to convert stringified empty lists to the list object
data['genres'] = data['genres'].apply(literal_eval)

#Convert list of dictionaries to a list of strings
data['genres'] = data['genres'].apply(lambda x: [i['name'].lower() for i in x] if isinstance(x, list) else [])

In [20]:
data[['title', 'genres']].head(10)

                             title                               genres
3928           Save the Last Dance      [drama, family, romance, music]
3930                    The Pledge    [crime, drama, mystery, thriller]
4022                      Hannibal     [crime, drama, thriller, horror]
4029                Sweet November                     [drama, romance]
4096            Enemy at the Gates                                [war]
4112                          Blow                       [crime, drama]
4171               A Knight's Tale  [adventure, drama, romance, action]
4180                 Moulin Rouge!              [drama, music, romance]
4182                  Pearl Harbor              [history, romance, war]
4242  A.I. Artificial Intelligence  [drama, science fiction, adventure]

In [21]:
print("Input Genre")
inputGenre = input()

Input Genre
war

In [22]:
movielist = []
for index, row in data.iterrows():
    if(inputGenre in row['genres']):
        movielist.append(row['title'])

In [23]:
for i in range (0,5):
    print(movielist[i])

Enemy at the Gates
Pearl Harbor
Black Hawk Down
We Were Soldiers
The Four Feathers