In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/Lenovo/Desktop/IPY/MoviesDataSet/movies_metadata.csv', low_memory=False)
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [19]:
#As we can see that there are few columns that are missing from the 'view'.
#To discover all-
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [20]:
#Re-Checking NULL values and sorting them !
Isnull=df.isnull().sum()
Isnull.sort_values(inplace=True, ascending=False)
print(Isnull)

belongs_to_collection    40972
homepage                 37684
tagline                  25054
overview                   954
poster_path                386
runtime                    263
status                      87
release_date                87
imdb_id                     17
original_language           11
vote_average                 6
vote_count                   6
revenue                      6
spoken_languages             6
title                        6
video                        6
popularity                   5
production_companies         3
production_countries         3
original_title               0
id                           0
genres                       0
budget                       0
adult                        0
dtype: int64

In [ ]:
#runtime                    263
#release_date                87
#vote_average                 6
#vote_count                   6
#Let's see revenue                      6
#popularity                   5
#IMDB CALCULATION

In [11]:
data[data['adult'] == 'True']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19489,True,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,5422,tt0079642,it,Le notti erotiche dei morti viventi,A sailor takes an American businessman and his...,...,1980-11-18,0.0,112.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Erotic Nights of the Living Dead,False,2.2,7.0
28701,True,NaN,0,"[{'id': 80, 'name': 'Crime'}]",http://www.imdb.com/title/tt0119931/,169158,tt0119931,en,Standoff,The FBI and Texas police make ready to storm t...,...,1998-01-11,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Trust Will Get You Killed,Standoff,False,4.8,5.0
31934,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,44781,tt0322232,cn,發電悄嬌娃,Electrical Girl centers around a horny young w...,...,2001-04-26,0.0,89.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,Electrical Girl,False,0.0,0.0
32113,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dietofsex.com/,324230,tt3094816,es,Diet of Sex,Ágata suffers from a psychological disorder wh...,...,2014-02-14,0.0,72.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,"Comedy, food, drama and sex, a lot of sex",Diet of Sex,False,4.0,12.0
39901,True,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 27, 'name...",NaN,35731,tt1161951,en,Amateur Porn Star Killer 2,Shane Ryan's sequel to the disturbing Amateur ...,...,2008-05-13,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Humiliation. Rape. Murder. You know the drill.,Amateur Porn Star Killer 2,False,6.3,8.0
39902,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,55774,tt1153101,en,The Band,Australian film about a fictional sub-par Aust...,...,2009-11-17,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sex, drugs and Rock 'n Roll",The Band,False,3.3,7.0
40574,True,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 27, 'name...",NaN,39922,tt0070696,da,Dværgen,Olaf and his mother run a boarding house and a...,...,1973-12-20,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Mother of all Dwarfsploitation films!,The Sinful Dwarf,False,5.8,13.0
41009,True,NaN,750000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,376004,tt4044464,en,Adulterers,A man who returns home to find his wife cheati...,...,2016-01-05,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Love. Betrayal. Vengeance,Adulterers,False,5.2,16.0
43090,True,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,448290,tt2697688,en,Half -Life,An American scientific research facility opens...,...,NaN,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",In Production,NaN,Half -Life,False,3.7,3.0

In [14]:
data.sort_values('release_date')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34940,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,315946,tt3155794,xx,Passage de Venus,Photo sequence of the rare transit of Venus ov...,...,1874-12-09,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Passage of Venus,False,6.0,19.0
34937,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,194079,tt2221420,en,Sallie Gardner at a Gallop,Sallie Gardner at a Gallop was one of the earl...,...,1878-06-14,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Sallie Gardner at a Gallop,False,6.2,25.0
41602,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,426903,tt5459794,en,Buffalo Running,Individual photographs of the running of a buf...,...,1883-11-19,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Buffalo Running,False,5.4,7.0
34933,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,159897,tt2075247,xx,Man Walking Around a Corner,The last remaining production of Le Prince's L...,...,1887-08-18,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Man Walking Around a Corner,False,4.1,17.0
34934,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,96882,tt1758563,xx,Accordion Player,The last remaining film of Le Prince's LPCCP T...,...,1888-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Accordion Player,False,4.4,18.0
34938,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,16464,tt0343112,xx,Traffic Crossing Leeds Bridge,"A film by Louis Aimé Augustin Le Prince, shot ...",...,1888-10-15,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Traffic Crossing Leeds Bridge,False,5.9,25.0
34939,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,33316,tt1202028,xx,London's Trafalgar Square,Moving picture of London's Trafalgar Square tr...,...,1890-01-01,0.0,1.0,[],Released,NaN,London's Trafalgar Square,False,5.1,9.0
41194,False,NaN,0,[],NaN,386743,tt5285442,en,Mosquinha,Shot of the flight of a fly.,...,1890-03-09,0.0,1.0,[],Released,NaN,Mosquinha,False,6.5,2.0
34936,False,NaN,0,[],NaN,33315,tt0416046,xx,"Monkeyshines, No. 2",Experimental film that follows up on the resul...,...,1890-11-21,0.0,1.0,[],Released,NaN,"Monkeyshines, No. 2",False,4.5,12.0
39954,False,NaN,0,[],NaN,33317,tt0416047,xx,"Monkeyshines, No. 3",Experimental film that follows up on the resul...,...,1890-11-21,0.0,1.0,[],Released,NaN,"Monkeyshines, No. 3",False,3.3,5.0
34935,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,32571,tt0361921,en,"Monkeyshines, No. 1",Experimental film made to test the original cy...,...,1890-11-21,0.0,1.0,[],Released,NaN,"Monkeyshines, No. 1",False,4.3,15.0
28592,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,33229,tt0241373,xx,Dickson Greeting,William K.L. Dickson brings his hat from his o...,...,1891-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Dickson Greeting,False,4.8,13.0
41195,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,336380,tt3201916,fr,Je Vous Aime,This early cinematic instance of a close-up—or...,...,1891-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Je Vous Aime,False,3.3,3.0
41760,False,NaN,0,[],NaN,416258,tt5447082,en,Two Fencers,Short film of two men fencers,...,1891-01-02,0.0,1.0,[],Released,NaN,Two Fencers,False,6.0,1.0
35075,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",NaN,33318,tt0241715,xx,Men Boxing,Experimental film fragment made with the Ediso...,...,1891-04-30,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Men Boxing,False,3.5,9.0
34945,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,104852,tt0241763,xx,Newark Athlete,Experimental film fragment made with the Ediso...,...,1891-05-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Newark Athlete,False,3.8,15.0
35146,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,312452,tt3508566,xx,La Vague,"Experimental film of a wave, recorded on the b...",...,1891-11-15,0.0,1.0,[],Released,NaN,La Vague,False,4.0,5.0
35147,False,NaN,0,[],NaN,105157,tt0241524,en,A Hand Shake,William K.L. Dickson and William Heise shake h...,...,1892-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,A Hand Shake,False,2.3,7.0
35215,False,NaN,0,[],NaN,105153,tt0241446,en,Fencing,Early Edison short showing two men fencing.,...,1892-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Fencing,False,2.0,6.0
32312,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 16, 'nam...",NaN,88013,tt0000003,fr,Pauvre Pierrot,"One night, Arlequin come to see his lover Colo...",...,1892-10-28,0.0,4.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Poor Pierrot,False,6.1,19.0
19138,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16624,tt0000005,xx,Blacksmith Scene,Three men hammer on an anvil and pass a bottle...,...,1893-05-08,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Blacksmith Scene,False,5.8,19.0
43511,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,152218,tt0229235,en,The Barbershop,"“Interior of Barber Shop. Man comes in, takes ...",...,1894-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Barbershop,False,4.9,7.0
42208,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,154339,tt2049440,en,Falling Cat,"Directed by Étienne-Jules Marey, a French scie...",...,1894-01-01,0.0,1.0,[],Released,NaN,Falling Cat,False,6.0,13.0
44965,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,189054,tt0277115,en,"Luis Martinetti, Contortionist","Luis Martinetti, a contortionist suspended fro...",...,1894-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,"Luis Martinetti, Contortionist",False,6.5,4.0
17569,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,105158,tt0000008,en,Edison Kinetoscopic Record of a Sneeze,A man (Thomas Edison's assistant) takes a pinc...,...,1894-01-09,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Edison Kinetoscopic Record of a Sneeze,False,4.7,12.0
43777,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,16612,tt0000001,en,Carmencita,The first woman to appear in front of an Ediso...,...,1894-03-14,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Carmencita,False,4.9,18.0
43555,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,194089,tt0285903,en,The Pickaninny Dance from the “Passing Show”,“A scene representing Southern plantation life...,...,1894-05-16,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Pickaninny Dance from the “Passing Show”,False,6.0,2.0
41799,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,186019,tt0203853,en,Souvenir Strip of the Edison Kinetoscope,"Eugen Sandow, who claims to be the strongest m...",...,1894-05-18,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Souvenir Strip of the Edison Kinetoscope,False,4.9,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40082,False,NaN,0,[],NaN,411711,tt5958174,en,The Last Gold,"Narrated by Emmy-winner Julianna Margulies, Th...",...,NaN,0.0,0.0,[],Released,NaN,The Last Gold,False,0.0,0.0
40142,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,407048,tt5590832,en,Scott Hall: Living on a Razor's Edge,"Scott Hall tells his life-story, from his rise...",...,NaN,0.0,0.0,[],Released,NaN,Scott Hall: Living on a Razor's Edge,True,10.0,2.0
40203,False,NaN,0,[],NaN,410576,tt5935392,en,Bad Dad Rehab,NaN,...,NaN,0.0,NaN,[],Released,NaN,Bad Dad Rehab,False,0.0,0.0
40740,False,NaN,0,[],NaN,343227,tt1247269,es,El pejesapo,"Daniel SS is a maladjusted man whom, after a f...",...,NaN,0.0,98.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,El pejesapo,False,0.0,0.0
40781,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,410142,tt4150988,en,Lo Sound Desert,Lo Sound Desert is a documentary about the Cal...,...,NaN,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Lo Sound Desert,False,10.0,1.0
41052,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 12,...",http://www.padyatrafilm.com/,164134,tt2091383,zh,Pad Yatra: A Green Odyssey,PAD YATRA: A Green Odyssey is the adventure of...,...,NaN,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pad Yatra: A Green Odyssey,False,0.0,0.0
41069,False,NaN,0,[],NaN,405763,tt0250944,en,The Adventures of Cinderella's Daughter,A young girl yearns to be like every other tee...,...,NaN,0.0,0.0,[],Released,NaN,The Adventures of Cinderella's Daughter,True,0.0,0.0
41114,False,NaN,0,[],NaN,278544,tt2282697,en,Always Faithful,This compelling doc chronicles the dedication ...,...,NaN,0.0,72.0,[],Released,"Courage, Loyalty, Trust",Always Faithful,False,0.0,0.0
41399,False,NaN,0,[],NaN,419289,tt2782754,es,Allende en su laberinto,NaN,...,NaN,0.0,NaN,[],Released,NaN,Allende en su laberinto,False,0.0,0.0
41718,False,NaN,0,[],NaN,216550,tt1571570,de,Dolpo Tulku - Heimkehr in den Himalaya,NaN,...,NaN,0.0,NaN,[],Released,NaN,Dolpo Tulku - Heimkehr in den Himalaya,False,0.0,0.0
42179,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,295011,tt3458254,en,Patient Zero,After an unprecedented global pandemic has tur...,...,NaN,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Patient Zero,False,10.0,2.0
42568,False,NaN,0,[],NaN,186592,tt2418988,en,Winning Favour,"Based on a true story, it concerns a group of ...",...,NaN,0.0,70.0,[],Released,NaN,Winning Favour,False,0.0,0.0
42573,False,NaN,0,[],NaN,440361,tt4464270,de,Whn the day had no name,NaN,...,NaN,0.0,NaN,[],Released,NaN,Whn the day had no name,False,7.0,2.0
42941,False,NaN,0,[],NaN,366561,tt0078576,en,Blindpassasjer,Norwegian Serial SciFi... Before ALIEN - there...,...,NaN,0.0,0.0,[],Released,NaN,Blindpassasjer,False,7.0,1.0
43090,True,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,448290,tt2697688,en,Half -Life,An American scientific research facility opens...,...,NaN,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",In Production,NaN,Half -Life,False,3.7,3.0
43377,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,426224,tt3530344,en,Jedi Junior High,"In 2009, students of all walks of life at the ...",...,NaN,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Come See the Galaxy Like a Kid Again,Jedi Junior High,False,10.0,1.0
43523,False,NaN,0,[],NaN,409926,tt0081846,en,Cosmos,Astronomer Dr. Carl Sagan is host and narrator...,...,NaN,0.0,60.0,[],Released,NaN,Cosmos,False,9.1,41.0
43962,False,NaN,0,[],NaN,400796,tt1560959,en,Irwin & Fran 2013,Professor Irwin Corey is now 101 years old and...,...,NaN,0.0,83.0,[],Released,Married for over seventy years to his chain sm...,Irwin & Fran 2013,False,0.0,0.0
44014,False,NaN,0,[],NaN,441826,tt2137792,en,Drzace traby,"Natalia Brożyńska's animation debut, about dra...",...,NaN,0.0,4.0,[],Released,NaN,Shivering Trunks,False,0.0,0.0
44065,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,452922,tt0605183,ru,Supermassive Black Holes,NaN,...,NaN,0.0,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Supermassive Black Holes,False,7.0,1.0
44098,False,NaN,0,[],NaN,340155,tt1426767,en,Игра на выбывание,Inhabitants of an elite Moscow house get invol...,...,NaN,0.0,386.0,[],Released,NaN,Игра на выбывание,False,6.0,1.0
44296,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,456956,tt3951908,en,Neither Wolf Nor Dog,A white author is sucked into a road trip thro...,...,NaN,0.0,110.0,[],Released,The World is Not an Accident. We Don't Always ...,Neither Wolf Nor Dog,False,10.0,1.0
44798,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 27, '...",http://www.fat-pie.com/salad.htm,425916,tt1830238,en,Salad Fingers,"The adventures of Salad Fingers, an unspecifie...",...,NaN,0.0,52.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Salad Fingers,True,8.5,4.0
44978,False,NaN,0,[],NaN,398295,tt5256044,pt,Mundo Cão,NaN,...,NaN,0.0,0.0,[],Released,NaN,Mundo Cão,False,0.0,0.0
45070,False,NaN,0,[],NaN,439314,NaN,en,The Garden of Afflictions 2017,Brazilian philosopher Olavo de Carvalho's thin...,...,NaN,0.0,0.0,[],Released,NaN,The Garden of Afflictions 2017,False,0.0,0.0
45148,False,NaN,0,[],NaN,438910,tt0810384,ru,Konstruktor krasnogo tsveta -1993,Engineering Red - 1993 Dir: Andrey I. Y. Petr...,...,NaN,0.0,76.0,[],Released,NaN,Engineering Red,False,6.0,2.0
45203,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 878, ...",NaN,433711,tt3158690,en,All Superheroes Must Die 2: The Last Superhero,"In a no holds barred documentary, acclaimed jo...",...,NaN,0.0,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,All Superheroes Must Die 2: The Last Superhero,False,4.0,1.0
45338,False,NaN,0,[],NaN,335251,tt1883368,en,The Land Where the Blues Began,An exploration of the musical and social origi...,...,NaN,0.0,0.0,[],Released,NaN,The Land Where the Blues Began,False,0.0,0.0
45410,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,449131,tt0321264,ru,Aprel,NaN,...,NaN,0.0,NaN,[],Released,NaN,Aprel,False,6.0,1.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0

In [6]:
index=0;
for date in data['release_date']:
    data.loc[index, 'release_date'] =((str(date)).split('-'))[0]
    index = index + 1

In [8]:
min(data['release_date'])

'1'

In [40]:
df.where(df.vote_count < 300)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,1995-10-20,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [26]:
df['spoken_languages']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
5        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6        [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
7        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8                 [{'iso_639_1': 'en', 'name': 'English'}]
9        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
10                [{'iso_639_1': 'en', 'name': 'English'}]
11       [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12                [{'iso_639_1': 'en', 'name': 'English'}]
13                [{'iso_639_1': 'en', 'name': 'English'}]
14       [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15                [{'iso_639_1': 'en', 'name': 'English'}]
16                [{'iso_639_1': 'en', 'name': 'English'}]
17                [{'iso_639_1': 'en', 'name': 'English'}]
18                [{'iso_639_1': 'en', 'name': 'English'}]
19                [{'iso_639_1': 'en', 'name': 'English'}]
20                [{'iso_639_1': 'en', 'name': 'English'}]
21       [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
22       [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
23                [{'iso_639_1': 'en', 'name': 'English'}]
24                [{'iso_639_1': 'en', 'name': 'English'}]
25                [{'iso_639_1': 'en', 'name': 'English'}]
26                [{'iso_639_1': 'en', 'name': 'English'}]
27                [{'iso_639_1': 'en', 'name': 'English'}]
28       [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...
29                    [{'iso_639_1': 'zh', 'name': '普通话'}]
                               ...
45436             [{'iso_639_1': 'en', 'name': 'English'}]
45437             [{'iso_639_1': 'en', 'name': 'English'}]
45438          [{'iso_639_1': 'nl', 'name': 'Nederlands'}]
45439             [{'iso_639_1': 'en', 'name': 'English'}]
45440             [{'iso_639_1': 'en', 'name': 'English'}]
45441             [{'iso_639_1': 'en', 'name': 'English'}]
45442                                                   []
45443                                                   []
45444         [{'iso_639_1': 'xx', 'name': 'No Language'}]
45445    [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
45446                                                   []
45447                                                   []
45448                                                   []
45449             [{'iso_639_1': 'en', 'name': 'English'}]
45450         [{'iso_639_1': 'xx', 'name': 'No Language'}]
45451         [{'iso_639_1': 'xx', 'name': 'No Language'}]
45452    [{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...
45453              [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]
45454             [{'iso_639_1': 'en', 'name': 'English'}]
45455            [{'iso_639_1': 'it', 'name': 'Italiano'}]
45456             [{'iso_639_1': 'en', 'name': 'English'}]
45457             [{'iso_639_1': 'en', 'name': 'English'}]
45458             [{'iso_639_1': 'en', 'name': 'English'}]
45459             [{'iso_639_1': 'en', 'name': 'English'}]
45460             [{'iso_639_1': 'en', 'name': 'English'}]
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

In [33]:
df_1=df[['vote_average','vote_count']]

In [24]:
df['vote_count'].mean()

109.89733831940167

In [25]:
someRelevantMovie = df[df['vote_count'] > df['vote_count'].mean() ]

In [2]:
#Calculate the number of votes garnered by the 80th percentile movie
m = df['vote_count'].quantile(0.80)
m

50.0

In [17]:
print(min(df['runtime']))
print(df['runtime'].mean())
print(max(df['runtime']))

0.0
94.12819945578833
1256.0

In [13]:
#Only consider movies longer than 45 minutes and shorter than 300 minutes
q_movies = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]

#Only consider movies that have garnered more than m votes
q_movies = q_movies[q_movies['vote_count'] >= m]

#Inspect the number of movies that made the cut
q_movies.shape

(8963, 24)

In [15]:
# Calculate C
C = df['vote_average'].mean()
C

5.6182072151341851

In [16]:
# Function to compute the IMDB weighted rating for each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Compute the weighted score
    return (v/(v+m) * R) + (m/(m+v) * C)

In [17]:
# Compute the score using the weighted_rating function defined above
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [20]:
#Sort movies in descending order of their scores
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 25 movies
q_movies[['title', 'vote_count', 'vote_average', 'score', 'runtime']].head(25)

,title,vote_count,vote_average,score,runtime
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.855148,190.0
314,The Shawshank Redemption,8358.0,8.5,8.482863,142.0
834,The Godfather,6024.0,8.5,8.476278,175.0
40251,Your Name.,1030.0,8.5,8.366584,106.0
12481,The Dark Knight,12269.0,8.3,8.289115,152.0
2843,Fight Club,9678.0,8.3,8.286216,139.0
292,Pulp Fiction,8670.0,8.3,8.284623,154.0
522,Schindler's List,4436.0,8.3,8.270109,195.0
23673,Whiplash,4376.0,8.3,8.269704,105.0
5481,Spirited Away,3968.0,8.3,8.266628,125.0
2211,Life Is Beautiful,3643.0,8.3,8.263691,116.0
1178,The Godfather: Part II,3418.0,8.3,8.261335,200.0
1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.256051,133.0
1176,Psycho,2405.0,8.3,8.245381,109.0
351,Forrest Gump,8147.0,8.2,8.184252,142.0
1184,Once Upon a Time in America,1104.0,8.3,8.183804,229.0
1154,The Empire Strikes Back,5998.0,8.2,8.178656,124.0
18465,The Intouchables,5410.0,8.2,8.176357,112.0
289,Leon: The Professional,4293.0,8.2,8.170276,110.0
3030,The Green Mile,4166.0,8.2,8.169381,189.0
1170,GoodFellas,3211.0,8.2,8.160414,145.0
2216,American History X,3120.0,8.2,8.159278,119.0
1161,12 Angry Men,2130.0,8.2,8.140785,96.0
9698,Howl's Moving Castle,2049.0,8.2,8.138499,119.0
2884,Princess Mononoke,2041.0,8.2,8.138264,134.0