In [70]:
import pandas as pd
import numpy as np

data= pd.read_csv('C:/Users/Lenovo/Desktop/IPY/MoviesDataSet/movies_metadata.csv', low_memory=False)
data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [71]:
#As we can see that there are few columns that are missing from the 'view'.
#To discover all-
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [72]:
#Re-Checking NULL values and sorting them !
Isnull=data.isnull().sum()
Isnull.sort_values(inplace=True, ascending=False)
print(Isnull)

belongs_to_collection    40972
homepage                 37684
tagline                  25054
overview                   954
poster_path                386
runtime                    263
status                      87
release_date                87
imdb_id                     17
original_language           11
vote_average                 6
vote_count                   6
revenue                      6
spoken_languages             6
title                        6
video                        6
popularity                   5
production_companies         3
production_countries         3
original_title               0
id                           0
genres                       0
budget                       0
adult                        0
dtype: int64

In [73]:
#runtime                    263
#release_date                87
#vote_average                 6
#vote_count                   6
#Let's see revenue            6
#popularity                   5
#IMDB CALCULATION

In [74]:
data[data['adult'] == 'False']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,1995-11-22,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,1995-12-13,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,1995-10-20,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,1995-10-06,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,1995-10-27,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,1995-10-20,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [75]:
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
data['year'] = data['release_date'].dt.year

In [76]:
data['year'].fillna(0, inplace=True)

In [77]:
data['year'] = data['year'].astype('int')

In [78]:
#data['year']

In [79]:
print(min(data['year']))
print(max(data['year']))
print(data['year'].mean())

0
2020
1987.9382615580873

In [80]:
data['runtime'].mean()

94.12819945578833

In [81]:
#Calculate the number of votes garnered by the 80th percentile movie
m = df['vote_count'].quantile(0.80)
print(m)
print(data['vote_count'].mean())

50.0
109.89733831940167

In [82]:
q_movies = q_movies[q_movies['vote_count'] >= m]

In [83]:
q_movies['runtime'].mean()

117.96821413634463

In [84]:
q_movies['vote_average'].mean()

6.855625261396923

In [85]:
movies = q_movies[(q_movies['vote_average'] > 6) & (q_movies['year'] > 1987) & (q_movies['runtime'] > 95) & (q_movies['adult'] == 'False')]

In [86]:
list_movies = movies.sort_values(['year', 'vote_average'], ascending=[False, False])

In [87]:
list_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
42205,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://thebigsickmovie.com,416477,tt5462602,en,The Big Sick,Pakistan-born comedian Kumail Nanjiani and gra...,...,5.262018e+07,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An awkward true story.,The Big Sick,False,7.7,249.0,2017
43186,False,NaN,7000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxsearchlight.com/gifted/,400928,tt4481414,en,Gifted,"Frank, a single man raising his child prodigy ...",...,3.746104e+07,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Gifted,False,7.7,549.0,2017
43645,False,NaN,50000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",https://www.netflix.com/title/80091936,387426,tt3967856,en,Okja,A young girl named Mija risks everything to pr...,...,0.000000e+00,121.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Okja,False,7.7,795.0,2017
26566,False,"{'id': 284433, 'name': 'Guardians of the Galax...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/221/guardians_o...,283995,tt3896198,en,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,...,8.634161e+08,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Obviously.,Guardians of the Galaxy Vol. 2,False,7.6,4858.0,2017
42170,False,"{'id': 453993, 'name': 'The Wolverine Collecti...",97000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.foxmovies.com/movies/logan,263115,tt3315342,en,Logan,"In the near future, a weary Logan cares for an...",...,6.168018e+08,137.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,His time has come,Logan,False,7.6,6310.0,2017
44678,False,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.dunkirkmovie.com/,374720,tt5013056,en,Dunkirk,The miraculous evacuation of Allied soldiers f...,...,5.198769e+08,107.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The event that shaped our world,Dunkirk,False,7.5,2712.0,2017
45258,False,"{'id': 466463, 'name': 'Descendants Collection...",0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",NaN,417320,tt5117876,en,Descendants 2,When the pressure to be royal becomes too much...,...,0.000000e+00,111.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,Long live evil.,Descendants 2,False,7.5,171.0,2017
42474,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,406385,tt5897288,it,Smetto quando voglio: Masterclass,Pietro Zinni is asked by the police to revive ...,...,0.000000e+00,118.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Smetto quando voglio: Masterclass,False,7.4,158.0,2017
45167,False,NaN,11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,395834,tt5362988,en,Wind River,An FBI agent teams with the town's veteran gam...,...,1.847702e+08,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing is harder to track than the truth.,Wind River,False,7.4,181.0,2017
42537,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",https://www.netflix.com/title/80171659,401104,tt5541240,en,To the Bone,A young woman dealing with anorexia meets an u...,...,0.000000e+00,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To the Bone,False,7.3,714.0,2017
43220,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://everythingeverythingmovie.com,417678,tt5001718,en,"Everything, Everything",A teenager who's lived a sheltered life becaus...,...,0.000000e+00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Risk everything... for love.,"Everything, Everything",False,7.3,670.0,2017
44624,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,406990,tt1536537,en,What Happened to Monday,In a world where families are limited to one c...,...,0.000000e+00,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven sisters. One identity.,What Happened to Monday,False,7.3,598.0,2017
33356,False,"{'id': 468552, 'name': 'Wonder Woman Collectio...",149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warnerbros.com/wonder-woman,297762,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,...,8.205804e+08,141.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0,2017
41488,False,NaN,30000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",http://stxmovies.com/thespacebetweenus/,365942,tt3922818,en,The Space Between Us,A young man raised by scientists on Mars retur...,...,1.479338e+07,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's your favorite thing about Earth?,The Space Between Us,False,7.2,564.0,2017
41976,False,"{'id': 325470, 'name': 'The Lego Movie Collect...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.legobatman.com,324849,tt4116284,en,The Lego Batman Movie,In the irreverent spirit of fun that made “The...,...,3.119504e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Always be yourself. Unless you can be Batman.,The Lego Batman Movie,False,7.2,1473.0,2017
42169,False,NaN,5000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",http://www.getoutfilm.com/,419430,tt5052448,en,Get Out,Chris and his girlfriend Rose go upstate to vi...,...,2.524342e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Just because you're invited, doesn't mean you'...",Get Out,False,7.2,2978.0,2017
43644,False,NaN,34000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,339403,tt3890160,en,Baby Driver,After being coerced into working for a crime b...,...,2.245113e+08,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All you need is one killer track.,Baby Driver,False,7.2,2083.0,2017
42175,False,"{'id': 424202, 'name': 'Trainspotting Collecti...",18000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,180863,tt2763304,en,T2 Trainspotting,"After 20 years abroad, Mark Renton returns to ...",...,4.141271e+07,117.0,"[{'iso_639_1': 'bg', 'name': 'български език'}...",Released,Face your past. Choose your future.,T2 Trainspotting,False,7.1,795.0,2017
43165,False,NaN,20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.focusfeatures.com/thezookeeperswife/,289222,tt1730768,en,The Zookeeper's Wife,"The account of keepers of the Warsaw Zoo, Jan ...",...,1.316248e+07,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They gave all they had to save all they could,The Zookeeper's Wife,False,7.1,160.0,2017
45204,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,417870,tt3564472,en,Girls Trip,Four girlfriends take a trip to New Orleans fo...,...,0.000000e+00,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"""Forgive us in advance for this wild weekend""",Girls Trip,False,7.1,393.0,2017
40947,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",http://www.brimstonethemovie.com/,324560,tt1895315,en,Brimstone,In the menacing inferno of the old American We...,...,0.000000e+00,148.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'...",Released,Retribution is coming.,Brimstone,False,7.0,176.0,2017
42846,False,NaN,20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",http://www.theshack.movie,345938,tt2872518,en,The Shack,"After suffering a family tragedy, Mack Phillip...",...,5.733087e+07,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You're never as alone as you think.,The Shack,False,6.9,330.0,2017
45174,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,339692,tt4633690,en,Shot Caller,A newly-released prison gangster is forced by ...,...,0.000000e+00,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some criminals are made in prison,Shot Caller,False,6.9,324.0,2017
42185,False,NaN,5000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",http://www.beforeifallfilm.com/,397837,tt1691916,en,Before I Fall,"Samantha Kingston has everything. Then, everyt...",...,1.002557e+07,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What if today was the only day of the rest of ...,Before I Fall,False,6.8,651.0,2017
42222,False,NaN,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,...,1.262886e+09,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be our guest.,Beauty and the Beast,False,6.8,5530.0,2017
43255,False,"{'id': 9485, 'name': 'The Fast and the Furious...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.fastandfurious.com/,337339,tt4630562,en,The Fate of the Furious,When a mysterious woman seduces Dom into the w...,...,1.238765e+09,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Family no more,The Fate of the Furious,False,6.8,3803.0,2017
42168,False,"{'id': 404609, 'name': 'John Wick Collection',...",40000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.johnwick.movie/,324552,tt4425200,en,John Wick: Chapter 2,John Wick is forced out of retirement by a for...,...,1.715399e+08,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Never stab the devil in the back,John Wick: Chapter 2,False,6.7,2924.0,2017
43575,False,"{'id': 350309, 'name': 'Bahubali Collection', ...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://baahubali.com/,350312,tt4849438,te,Baahubali 2: The Conclusion,"When Mahendra, the son of Bahubali, learns abo...",...,2.300000e+08,161.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Baahubali 2: The Conclusion,False,6.7,161.0,2017
44274,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,3.699080e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0,2017
44337,False,NaN,197471676,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",NaN,339964,tt2239822,en,Valerian and the City of a Thousand Planets,"In the 28th century, Valerian and Laureline ar...",...,9.002429e+07,137.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Valerian and the City of a Thousand Planets,False,6.7,905.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,False,NaN,24000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9972,tt0097770,en,Lock Up,Frank Leone is nearing the end of his prison t...,...,2.209985e+07,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How much can a man take...before he gives back?,Lock Up,False,6.2,208.0,1989
4544,False,NaN,55000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9618,tt0098439,en,Tango & Cash,Ray Tango and Gabriel Cash are narcotics detec...,...,6.340861e+07,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two of L.A.'s top rival cops are going to have...,Tango & Cash,False,6.1,468.0,1989
1132,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11216,tt0095765,it,Nuovo Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",...,1.199040e+07,124.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,"A celebration of youth, friendship, and the ev...",Cinema Paradiso,False,8.2,834.0,1988
1229,False,NaN,8000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.bandaivisual.co.jp/akira/,149,tt0094625,ja,アキラ,Childhood friends Tetsuo and Kaneda are pulled...,...,5.531710e+05,124.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Neo-Tokyo is about to E.X.P.L.O.D.E.,Akira,False,7.8,792.0,1988
1173,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,175,tt0095250,fr,Le Grand Bleu,Two men answer the call of the ocean in this r...,...,0.000000e+00,168.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Danger...Like Passion...Runs Deep,The Big Blue,False,7.6,364.0,1988
1852,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}]",NaN,380,tt0095953,en,Rain Man,Selfish yuppie Charlie Babbitt's father left a...,...,4.128000e+08,133.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,A journey through understanding and fellowship.,Rain Man,False,7.6,1762.0,1988
1007,False,"{'id': 1570, 'name': 'Die Hard Collection', 'p...",28000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,562,tt0095016,en,Die Hard,"NYPD cop, John McClane's plan to reconcile wit...",...,1.407680e+08,131.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,40 Stories. Twelve Terrorists. One Cop.,Die Hard,False,7.5,4005.0,1988
4198,False,NaN,15000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,1632,tt0095647,en,Mississippi Burning,Two FBI agents investigating the murder of civ...,...,3.460400e+07,128.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,1964. When America was at war with itself.,Mississippi Burning,False,7.4,336.0,1988
4418,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,8740,tt0096163,nl,Spoorloos,A young man begins an obsessive search for his...,...,0.000000e+00,107.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'...",Released,Who Has Seen This Woman?,The Vanishing,False,7.4,124.0,1988
1240,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 35, 'n...",NaN,2640,tt0097493,en,Heathers,A girl who halfheartedly tries to be part of t...,...,1.108462e+06,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Best friends, social trends, and occasional mu...",Heathers,False,7.3,387.0,1988
2871,False,NaN,70000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",NaN,856,tt0096438,en,Who Framed Roger Rabbit,'Toon star Roger is worried that his wife Jess...,...,3.298040e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It's the story of a man, a woman, and a rabbit...",Who Framed Roger Rabbit,False,7.2,1466.0,1988
2987,False,NaN,30000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,9013,tt0095631,en,Midnight Run,An accountant embezzles $15 million of mob mon...,...,3.841361e+07,126.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,This could be the beginning of a beautiful fri...,Midnight Run,False,7.2,241.0,1988
1047,False,NaN,7500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,623,tt0095159,en,A Fish Called Wanda,A diamond advocate is attempting to steal a co...,...,6.249371e+07,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"A tale of murder, lust, greed, revenge, and se...",A Fish Called Wanda,False,7.1,576.0,1988
1911,False,NaN,14000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,859,tt0094947,en,Dangerous Liaisons,Dangerous Liaisons is the film based on the no...,...,3.467072e+07,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lust. Seduction. Revenge. The Game As You've N...,Dangerous Liaisons,False,7.1,267.0,1988
1913,False,NaN,7000000,"[{'id': 18, 'name': 'Drama'}]",NaN,11051,tt0095497,en,The Last Temptation of Christ,"Jesus, a humble Judean carpenter beginning to ...",...,8.373585e+06,164.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Last Temptation of Christ,False,7.0,206.0,1988
2438,False,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,9540,tt0094964,en,Dead Ringers,"Elliot, a successful gynecologist, works at th...",...,8.038508e+06,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two bodies. Two minds. One soul.,Dead Ringers,False,7.0,176.0,1988
4371,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,10141,tt0095031,en,Dirty Rotten Scoundrels,Two con men try to settle their rivalry by bet...,...,4.203908e+07,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nice guys finish last. Meet the winners.,Dirty Rotten Scoundrels,False,7.0,223.0,1988
2084,False,NaN,35000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,847,tt0096446,en,Willow,Fearful of a prophecy stating that a girl chil...,...,5.726986e+07,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Adventure doesn't come any bigger than this.,Willow,False,6.9,484.0,1988
2682,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,2280,tt0094737,en,Big,"A young boy, Josh Baskin makes a wish at a car...",...,1.516688e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You're Only Young Once But For Josh It Might J...,Big,False,6.9,1022.0,1988
4339,False,NaN,46630000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,14506,tt0096764,en,The Adventures of Baron Munchausen,An account of Baron Munchausen's supposed trav...,...,8.083123e+06,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Remarkable. Unbelievable. Impossible. And true.,The Adventures of Baron Munchausen,False,6.9,185.0,1988
4337,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,10868,tt0094608,en,The Accused,After a young woman suffers a brutal rape in a...,...,0.000000e+00,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Being a victim was her only crime.,The Accused,False,6.8,130.0,1988
2970,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,9647,tt0096061,en,Scrooged,"In this modern take on Charles Dickens' ""A Chr...",...,6.032800e+07,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The spirits will move you in odd and hysterica...,Scrooged,False,6.7,395.0,1988
4380,False,NaN,22000000,"[{'id': 18, 'name': 'Drama'}]",NaN,10130,tt0095243,en,Gorillas in the Mist,"The story of Dian Fossey, a scientist who came...",...,0.000000e+00,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,At the far ends of the earth she found a reaso...,Gorillas in the Mist,False,6.7,136.0,1988
1329,False,"{'id': 9329, 'name': 'Young Guns Collection', ...",13000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,11967,tt0096487,en,Young Guns,"A group of young gunmen, led by Billy the Kid,...",...,4.472664e+07,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Six reasons why the west was wild.,Young Guns,False,6.6,262.0,1988
3243,False,NaN,7000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,287,tt0094812,en,Bull Durham,Veteran catcher Crash Davis is brought to the ...,...,5.088800e+07,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Romance is a lot like baseball. It's not wheth...,Bull Durham,False,6.6,154.0,1988
4378,False,NaN,20000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,10675,tt0095174,en,Frantic,Ford plays an American doctor whose wife sudde...,...,1.763795e+07,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,They've taken his wife. Now he's taking action.,Frantic,False,6.6,232.0,1988
2134,False,NaN,28000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,3525,tt0096463,en,Working Girl,"Witty, romantic look at life in the corporate ...",...,1.031736e+08,114.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,For anyone who's ever won. For anyone who's ev...,Working Girl,False,6.5,242.0,1988
4361,False,NaN,39000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,9602,tt0094898,en,Coming to America,"Prince Akeem, heir to the throne of Zamunda, l...",...,2.887523e+08,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Four Funniest Men in America are Eddie Mur...,Coming to America,False,6.5,944.0,1988

In [89]:
list_movies.shape

(2391, 25)

###  IMDB CALCULATION WAY